<!DOCTYPE html>
<html>
<head>
	<title>DoubleWings</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" type="text/css" href="doubleWin.css">
</head>
<body>
	<!--利用负 margin-->
<!--<div class="container">
	<main></main>
</div>
<sidebar class="left"></sidebar>
<sidebar class="right"></sidebar>-->

<div class="container">
	<main>hello</main>
	<sidebar class="left"></sidebar>
	<sidebar class="right"></sidebar>
</div>
</body>
</html>