<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Planet data</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="exp.css">
    
  </head>
  <body>

   <div class="container">
      <img src="../temp/avatar.jpg" alt="touxiang" />
      <p>box is defined 
         as a box that's stacked 
         upon other boxes 
         (i.e. content before and after the box appears on a separate line),
          and can have width and height set on it. 
          The whole box model as described above 
          applies to block boxes.and height set on it.
          The whole box model as described above 
          applies to block boxes
          and height set on it. 
          The whole box model as described above 
          applies to block boxes
       </p>  
   </div>

  </body>
</html>
