<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Exp</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="exp.css">
  </head>
  <body>
   
<div class="container">
  <a href="#">
  	<li class="drop-list-item">1</li>
  </a>
  <a href="#">
  	<li class="drop-list-item">2
		<ul class="drop-list-content">
			<li>a</li>
			<li>b</li>
			<li>c</li>
			<li>d</li>
		</ul>
  	</li>
  </a>
  <a href="#">
  	<li class="drop-list-item">3</li>
  </a>
  <a href="#">
  	<li class="drop-list-item">4</li>
  </a>
</div>
<script type="text/javascript" src="http://at.alicdn.com/t/font_440670_u14ubq89dup1ra4i.js"></script> 
<script type="text/javascript" src="exp.js"></script>
  </body>
</html>
