*{
  padding:0;
  margin:0;
}
html{
  width:100%;
  height:100%;
}

.container{
  margin:8% auto;
  width:50%;
  
  position:relative;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  line-height:300px;
}
p{
  box-sizing:border-box;
  padding:20px;
  display:inline-block;
  /*position:absolute;
  left:30%;*/
  width:80%;
  word-wrap:break-word;
  overflow:hidden;
  line-height:1em;
  vertical-align:middle;
}
img{
 /* display:inline-block;*/
  width:18%;
  /*height:20%;*/
  border-radius:50%;
  vertical-align: middle;
  /*transform:translate(0,-50%);*/
}








.container::before{
  content:'';
  width:0;
  height:0;
  line-height:0;
  border-width:10px;
  border-style:dashed dashed solid;
  border-color:transparent transparent #ddd;
  position:absolute;
  top:-20px;
  left:50%;
}