<!DOCTYPE <html>
<head>
	<title>Play</title>
	<link rel="stylesheet" type="text/css" href="play.css">
</head>
<body>	
	<!--img元素是属于文本流的，故第三个img会贴着第二个img-->
	<div style="border:4px solid blue;">
		<img src="http://diy.qqjay.com/u/files/2012/0209/2f45e7e0d06a69a974949c0872a5ec5a.jpg" alt="img"" />
	</div>
		
	
	<div style="border:4px solid red;float:left;">
    	<img src="http://img1.imgtn.bdimg.com/it/u=1164532359,1691253195&fm=214&gp=0.jpg" />
	</div>

	<div style="border:4px solid green;">
		<img src="http://diy.qqjay.com/u/files/2012/0209/2f45e7e0d06a69a974949c0872a5ec5a.jpg" alt="img"" />
	</div>
		
	

</body>
</html>