*{
	padding:0;
	margin:0;
}
html{
	font-size:20px;
}



.card{
	width:80%;
	margin:0 auto;
	font-size:1em;
	/*header*/
	h2{
		padding-left:2%;

	}

	/*main part*/
	article{
		line-height: 100%;
	}
	img{
		display:inline-block;
		width:20%;
		border-radius:50%;
		vertical-align:middle;
	}
	p{
		box-sizing:border-box;
		display:inline-block;
		width:79%;
		/*line-height:1em;*/
		padding:2em;
		vertical-align: middle;
	}

	/*footer*/
	footer{
		font-size: 0.75em;
		line-height: 2em;
		p{
			display:inline-block;
			line-height: 1em;
			vertical-align: middle;
			text-align:center;
		}
	}
}