<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Image Gallery</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="image-gallery.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="imgs">
			<ul>
				<li class="first"><img src="../temp/gallery1.jpg" alt="bg" /></li><li><img src="../temp/gallery2.jpg" alt="bg" /></li><li><img src="../temp/gallery3.jpg" alt="bg" /></li><li><img src="../temp/gallery4.jpg" alt="bg" /></li>
			</ul>
		</div>

		<div class="control">
			<ul>
				<li><img src="../temp/gallery1.jpg" alt="bg" /></li><li><img src="../temp/gallery2.jpg" alt="bg" /></li><li><img src="../temp/gallery3.jpg" alt="bg" /></li><li><img src="../temp/gallery4.jpg" alt="bg" /></li>
			</ul>
		</div>
    </div>


<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script> 
<script type="text/javascript" src="image-gallery.js"></script>
</body>
</html>