<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Carol's</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="index.css" rel="stylesheet">
<link rel="icon" href="../temp/favicon.png" />
</head>
<body>
	<div class="container"></div>
	<div class="main_part">
		<img src="../temp/avatar.jpg" alt="touxaing">
		<br />
		Yaoyao Pang
		<hr />
		<span><a href="#" class="btn">OPEN</a></span>
	</div>


	<div class="side_main">
	</div>

<!--<iframe src="sidemain.html" class="side_main"></iframe>-->
	<!--<div class="side_main">
	<div class="experience">
			 <h3 class="clr1">Experiences</h3>
			 <div class="experience_details">
				 <h4>UESTC<span>SEPTEMBER 2016 - PRESENT</span></h4>
				 <h6>POSTGRADUATE STUDENT</h6>
				 <p class="exp1">
				 	Enrolled in UESTC as a postgraduate student in 2016.
				 	Joined NGMI at the same time.
				 </p>
			 </div>
			 <div class="experience_details">
				 <h4>UESTC<span>NOVEMBER 2012 - JUNE 2016</span></h4>
				 <h6>COLLEGE STUDENT</h6>
				 <p class="exp1">
				 	Enrolled in UESTC as a college student in 2012.
				 	Graduate in 2016.
				 </p>
			 </div>
		 </div>
		 <div class="skills">
			 <h3 class="clr2">Skills</h3>
			 <div class="skill_info">
			 <p></p>
			 </div>
			 <div class="skill_list">
				 <div class="skill1">
					 <h4>Software</h4>
					 <ul>					 
						<li>Photoshop</li>
						<li>Sublime Text</li>
					 </ul>
				 </div>
				 <div class="skill2">
					 <h4>Languages</h4>
					 <ul>					 
						<li>HTML/CSS</li>
						<li>Python</li>
						<li>JavaScript</li>
					 </ul>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
		 
		 <div class="hobbies">
			 <h3 class="clr3">Hobbies</h3>
			 <div class="hobbies_details">
				 <h4>READING<</h4>
				 <h6>Novels</h6>
				 <p >I enjoy reading after class.
				 	Especially loves fiction novels and magical novels.
				 </p>

				 <ul class="hb"> 
						<li>Harry Potter</li>
						<li>Love and Peace</li>
						<li>Les Miserables</li>
						<li>Notre Dame De Paris</li>
				</ul>
			 </div>
			 <div class="hobbies_details">
				 <h4>Sports</h4>
				 <h6>Badminton</h6>
				 <p>Enjoy playing badminton with friends during my spare time.</p>
			 </div>
			 <div class="hobbies_details">
				 <h4>Movie</h4>
				 <h6>Marvel's & Thrills </h6>
				 <p>Love thrills & Iron Man</p>
				 <ul class="hb">					 
						<li>Silent Hill</li>
						<li>Conjure</li>
						<li>Iron Man</li>
						<li>Civil War</li>
				</ul>
			 </div>
		 </div>
	</div>-->
	


<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>	
<script type="text/javascript" src="index.js"></script>
</body>
</html>