<!DOCTYPE html>
<html>
<head>
<title>Flex</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="mdnPage.css">
</head>
<body>
  <header>
    <h1> This is head</h1>
  </header>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Main</a></li>
      <li><a href="#">Sub</a></li>
      <li>
        <label for="#searchBar">Searchll
        </label>
        <input id="searchBar" type="text" name="search" placeholder="Search" />
      </li>
    </ul>
  </nav>

  <main>
    <title>Quick hummus recipe</title>
   <h1 id="headLine">Quick hummus recipe</h1>

   <h3> This recipe makes quick, tasty hummus, with no messing. It has been adapted from a number of different recipes that I have read over the years.</h3>

    <p>hummus is a delicious thick paste used heavily in Greek and Middle Eastern dishes. It is very tasty with salad, grilled meats and pitta breads.</p>

    <h4 id="ingredients">Ingredients</h4>
   <ol> 
     <li> 1 can (400g) of chick peas (garbanzo beans)</li>
     <li>175g of tahini</li>
     <li> sundried tomatoes</li>
     <li>Half a red pepper</li>
    <li> A pinch of cayenne pepper</li>
     <li>1 clove of garlic</li>
     <li> A dash of olive oil</li>
     </ol>

    <h4 id="instructions">Instructions</h4>
    <ul>

      <li>Remove the skin from the garlic, and chop coarsely</li>
      <li>Remove all the seeds and stalk from the pepper, and chop coarsely</li>
      <li> Add all the ingredients into a food processor</li>
      <li>Process all the ingredients into a paste.</li>
      <li>If you want a coarse "chunky" hummus, process it for a short time</li>
      <li>If you want a smooth hummus, process it for a longer time</li>
    </ul>

   <p> For a different flavour, you could try blending in a small measure of lemon and coriander, chili pepper, lime and chipotle, harissa and mint, or spinach and feta cheese. Experiment and see what works for you.</p>

      <h4 id="storage"> Storage</h4>

    <p>Refrigerate the finished hummus in a sealed container. You should be able to use it for about a week after you've made it. If it starts to become fizzy, you should definitely discard it.</p>

   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>

  </main>
  <sidebar>
    <h3>This is sidebar</h3>
     <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
    <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
    <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
   <p>hummus is suitable for freezing; you should thaw it and use it within a couple of months.</p>
  </sidebar>
  <footer>
    copyright@carol
  </footer>
</body>
</html>