<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="msgList.css" rel="stylesheet">
</head>
<body>
<div class="container clearfix">
<h1> Comments</h1>
	<div class="per">
		<div class="img-equal">
			<img src="/temp/panda.jpeg" class="touxiang" alt="touxiang"/>
		</div>

		<div class="contentOfComment">
			<span class="person">jonathandunn</span>
			<time datetime="2017-09-24">9/24</time>
			<p class="comm">hummus is a delicious thick paste used heavily in Greek and Middle Eastern dishes. It is very tasty with salad, grilled meats and pitta breads.</p>
			
		</div>
	</div>

<nav class="bottomNav">
	<ul class="slider">
		<li>
			<svg class="icon" aria-hidden="true">
				<use xlink:href="#icon-dot"></use>
			</svg>
		</li>
		<li>
			<svg class="icon" aria-hidden="true">
				<use xlink:href="#icon-dot"></use>
			</svg>
		</li>
		<li>
			<svg class="icon" aria-hidden="true">
				<use xlink:href="#icon-dot"></use>
			</svg>
		</li>
	</ul>
	
	<a href="#" ><span>CLOSE</span></a>



</nav>
</div>


<script type="text/javascript" src="http://at.alicdn.com/t/font_421830_fny3uh45vv3ac3di.js"></script>
<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>	
<script type="text/javascript" src="msgList.js"></script>	
</body>
</html>