* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container{
  width:80%;
  height:600px;
  margin:0 auto;

}
nav ul{
  list-style:none;
}
nav ul li{
  display:inline-block;
}
section{
  position:relative;
}

section div{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:500px;
  display:none;
}

.active{
  display:block;
}