<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Figs</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="todolist.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded|Slabo+27px" rel="stylesheet">
</head>
<body>
<div class="side_main">
	<header>
		<div class="obscureTri tri1">left-arrow</div>
		<div class="obscureTri tri2"></div>
		<div class="ham"> 
			<div class="dot1 dot"></div>
			<div class="dot2 dot"></div>
			<div class="dot3 dot"></div>
		</div>
	</header>
	<main>

		<!--today's todo list-->
		<div class="gridBox box1">
			<div class="section">TODAY</div>

			<div class="task">
				<label for="task_checkbox">
					<input type="checkbox" class="invisible_checkbox" id="task_checkbox" name="tasks_today" /><span></span>
				</label>
				<svg class="icon icon_type" aria-hidden="true">
					<use href="#icon-yinliao"></use>
				</svg>
				<span>Design Personnal Webpage</span>
				<svg class="icon icon_important" aria-hidden="true">
					<use href="#icon-icon"></use>
				</svg>
			</div>

			<div class="task">

				<label for="task_checkbox">
					<input type="checkbox" class="invisible_checkbox" id="task_checkbox" name="tasks_today" /><span></span>
				</label>

				<svg class="icon icon_type" aria-hidden="true">
					<use href="#icon-yinliao"></use>
				</svg>
				<span>Design Personnal Webpage</span>
				<svg class="icon icon_important" aria-hidden="true">
					<use href="#icon-icon"></use>
				</svg>
			</div>

			<div class="task">
				<label for="task_checkbox">
					<input type="checkbox" class="invisible_checkbox" id="task_checkbox" name="tasks_today" /><span></span>
				</label>
				<svg class="icon icon_type" aria-hidden="true">
					<use href="#icon-yinliao"></use>
				</svg>
				<span>Design Personnal Webpage</span>
				<svg class="icon icon_important" aria-hidden="true">
					<use href="#icon-icon"></use>
				</svg>
			</div>
		</div>

		<div class="gridBox box2">
		<div class="section">Tomorrow</div>
			<div class="task">

				<label for="task_checkbox">
					<input type="checkbox" class="invisible_checkbox" id="task_checkbox" name="tasks_tomorrow" /><span></span>
				</label>
				<svg class="icon" aria-hidden="true">
					<use href="#icon-yinliao"></use>
				</svg>
				<span>Design Personnal Webpage</span>
				<svg class="icon" aria-hidden="true">
					<use href="#icon-icon"></use>
				</svg>
			</div>

			<div class="task">
				<label for="task_checkbox">
					<input type="checkbox" class="invisible_checkbox" id="task_checkbox" name="tasks_tomorrow" /><span></span>
				</label>
				<svg class="icon" aria-hidden="true">
					<use href="#icon-yinliao"></use>
				</svg>
				<span>Design Personnal Webpage</span>
				<svg class="icon" aria-hidden="true">
					<use href="#icon-icon"></use>
				</svg>
			</div>
			<div class="task">
				<label for="task_checkbox">
					<input type="checkbox" class="invisible_checkbox" id="task_checkbox" name="tasks_tomorrow" /><span></span>
				</label>
				<svg class="icon" aria-hidden="true">
					<use href="#icon-yinliao"></use>
				</svg>
				<span>Design Personnal Webpage</span>
				<svg class="icon" aria-hidden="true">
					<use href="#icon-icon"></use>
				</svg>
			</div>
		</div>
		<!--<div class="gridBox box3"></div>
		<div class="gridBox box4"></div>
		<div class="gridBox box5"></div>
		<div class="gridBox box6"></div>-->
	</main>
	<footer></footer>

</div>

<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery
/jquery-1.4.min.js"></script>
<script type="text/javascript" src="todolist.js"></script>
<script type="text/javascript" src="http://at.alicdn.com/t/font_428370_okprvun22rqw7b9.js"></script>
</body>
</html>