/* General setup */
/*
  font-family: 'Roboto Slab', serif;
  font-family: 'Germania One', cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Pangolin', cursive;*/
* {
  /*box-sizing: border-box;*/
  font-size:10px;
  font-family: 'Roboto Slab', serif;

}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  line-height: 1.5rem;
  letter-spacing: 0;
  word-spacing: 0.2rem;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
h1{
  text-align:center;
  font-size: 3rem;
}
h2{
  font-size:2rem;
  /*border-bottom: 1px solid #a66;*/
}


h1,h2{
  letter-spacing:0.2rem;
}
p,ol,li{
  font-family: 'Raleway', sans-serif;
}

section h2 + p {
  text-indent: 1rem;
  text-align: justify;
}
a{
  outline: none;
  color:blue;
  background:url("../temp/external-link-52.png") no-repeat;
  background-size: 16px 16px;
  background-position: 100% 0;
  padding-right:20px;
}

a:link{
  text-decoration: underline;
  color: #265301;
}
a:visited{
  text-decoration: underline;
  color:#a66;
}
a:hover{
  text-decoration: none;
  border-bottom: 1px solid;
  background: #CDFEAA;
}
a:focus{
  text-decoration: none;
  background: #BAE498;
  border-bottom:1px solid;
}
a:active{
  font-size:1.2rem;
  background: #265301;
  color: #CDFEAA;
}

ul{
  list-style-image: 
}

/*p{
  border:30px dotted black;
  border-image:url("../temp/border-image.png");
  border-image-slice:40;
  border-image-repeat:space;
  border-image-outset:1.6rem;  
}*/

