.carousel{
	width:80%;
	height:417px;
	overflow:hidden;
	position:relative;
	
}
.carousel-items{
	color:red;
}
.carousel-items img{
	display:inline-block;
}
.carousel-indicator{
	ul{
		list-style:none;
		position:absolute;
		bottom:5%;
		left: 50%;
        transform: translateX(-50%);
        list-style: none;
        padding: none;
        z-index: 1000;
	}
	li{
		position:relative;
		display:inline-block;
		margin:8px;
		height:16px;
		width:16px;
		border:2px solid #ccc;
		border-radius:16px;
		bottom:0;
		transition: bottom 0.5s;
		-webkit-transition: bottom 0.5s;
		-mox-transition: bottom 0.5s;
		-o-transition: bottom 0.2s;
	}
	li:hover{
		background-color:#ccc;
		border: 2px solid #ccc;
		bottom:2px;
	}
}